
<p>
<p>
<p>


  <!-- Header - set the background image for the header in the line below -->
  <header>
    <img src="<%= image_url("logo.png") %>" alt="logo" class="rounded mx-auto d-block img-fluid", height="250" width="250">
  </header>


  <!-- Content section -->
  <body class="py-5 bg-image-full" style="background-image: url('<%= image_url("food1.jpg") %>');">

  <section class="py-5">
    <div class="container">
      <h1 class="text-center">Welcome to MasterChef</h1>
      <p>
      <p>
      <h2 class="text-center">A website of authentic Chinese food recipes.</h2>
      <p>
      <p>
      <h5>
      <h5 class="text-center">...where you can find authentic Chinese food recipes.</h5>
      <h5 class="text-center">...where you can create, edit, and translate authentic Chinese food recipes.</h5>
      <h5 class="text-center">...where you can get the authentic Chinese flavor.</h5>
      <h5 class="text-center">...where you can learn Chinese culture.</h5>
    </div>
  </section>
  <!-- Content section -->
  <section class="py-5">
    <div class="d-flex justify-content-center">
    <div class="form-group">
      <div class="table-responsive">
      <table class="signup_login_table text-center">
      <tr class>
          <td>
          <div class="form-group">
            <%= button_to "Login", new_session_path, method: :get, class: "btn btn-primary" %> 
          </div>
          </td>
          <td>
          <div class="form-group">
            <%= button_to "Sign up", new_user_path,  method: :get, class: "btn btn-success" %>
          </div>
          </td>
      </tr>
      </table>
      </div>
    </div>
    </div>
  </section>
  </body>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MasterChef 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
