<p>


  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1 class="text-center">Welcome to MasterChef</h1>
      <h2 class="text-center">A website of authentic Chinese food recipes.</h2>
      <p>
      <p class="text-center">...where you can find authentic Chinese food recipes.
      <p class="text-center">...where you can create, edit, and translate authentic Chinese food recipes.
      <p class="text-center">...where you can get the authentic Chinese flavor.</p>
      <p class="text-center">...where you can learn Chinese culture.
    </div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
    <div class="form-group text-center">
      <%= button_to "Sign Up", new_user_path,  method: :get, class: "btn btn-success" %>
    </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MasterChef 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>