<p>
<p>
<h1 class = "text-center" >All Recipes</h1>
<p>

<ul>

  <% @recipes.each do |recipe| %>
    <h4><%= link_to "#{recipe.name}", recipe_path(recipe)%></h4>
    <p> <%= recipe.likes%> Liked! </p>
    <p><small>Ingredients: 
    <% recipe.ingredients.each do | ingredient |%>
      <%= link_to "#{ingredient.name}", ingredient_path(ingredient)%>,
    <% end %></small></p>
  <% end %>

</ul>




  