<p>
<h2 class = "text-center"><%= @ingredient.name %></h2>

<ul>
<div class="table-responsive-xl">
<table class="table">

<tr>
  <p>Description: <%= @ingredient.description %>
</tr>


<tr>
  <p>Origin Country: <%= @ingredient.origin_country %>
</tr>


</table>
</div>
</ul>