<p>
<p>
<h3 class="text-light">Search Result</h3>

<h4 class="text-light"> Recipes: </h4>
<% if @rec_results.size != 0 %>
    <% @rec_results.each do | result |%>
        <p><%= link_to result.name, recipe_path(result)%><br>
    <%end%>
<% elsif @rec_results.size == 0%>
    <p class="text-light">No search result for recipe.
<% end %>


<h4 class="text-light"> Ingredients: </h4>
<% if @ing_results.size != 0 %>
    <% @ing_results.each do | result |%>
        <p class="text-light"><%= link_to result.name, ingredient_path(result)%><br>
    <%end%>
<% else%>
    <p class="text-light">No search result for ingredient.
<%end%>
